{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'maintenance/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="{% static 'maintenance/basic.css' %}">
    <!--Let browser know website is optimized for mobile-->


</head>


<body>
    <div id="sidebar">
        {% block sidebar %}

        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="content">
        {% block title %}{% endblock %}
    </div>

    <div id="content">
        {% block body %}{% endblock %}
    </div>
</body>
</html>