{% extends "maintenance/base.html" %}

{% load static %}

{% block title %}Device Details{% endblock %}

{% block body %}
    <h1> Name: {{ device.toString }} </h1>
    <h2> Type: {{ device.dev_type }}</h2>
    <p>{{device.dev_type.description}}</p>
    <h2> SN: {{ device.sn }}</h2>
    <h2> Description: </h2>
    <p>{{ device.descr }}s</p>
    <h2> HW Ver: {{ device.hw_ver }}</h2>
    <h2> SW Ver: {{ device.hw_ver }}</h2>
    <a href="{% url 'maintenance:maintenance_by_device' device.id %}">to device maintenance</a>
    <br>
    <a href="{% url 'maintenance:device_list' %}">to device list </a>
{% endblock %}
